In [1]:
import pandas as pd
import numpy as np
import rdkit as rd
from rdkit import Chem
from rdkit.Chem import Draw
from rdkit.Chem.Draw import IPythonConsole
from rdkit.Chem import Descriptors
from rdkit.Chem import AllChem
from rdkit import DataStructs
import sys

In [2]:
df1 = pd.read_csv(r"D:\projects dataset\UPSTOtrain.csv\UPSTOtrain.csv",header=None)
df1.head()

,0,1
0,C C ( C ) ( C ) c 1 [nH] c 2 c c c ( N C ( = O...,C C ( C ) ( C ) c 1 [nH] c 2 c c c ( N C ( = O...
1,C O C C Br . O = c 1 c ( O ) c n ( - c 2 c c c...,C O C C O c 1 c n ( - c 2 c c c c ( C ( F ) ( ...
2,C 1 C O C C N 1 . C c 1 c ( N C ( = O ) C Br )...,C c 1 c ( N C ( = O ) C N 2 C C O C C 2 ) c c ...
3,Br P ( Br ) Br . C S ( = O ) ( = O ) c 1 c c c...,C S ( = O ) ( = O ) c 1 c c c ( C Br ) c c 1 F
4,C c 1 s c ( N C c 2 c c c c c 2 ) c ( C # N ) ...,C c 1 s c ( N ( C c 2 c c c c c 2 ) C ( = S ) ...

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7705 entries, 0 to 7704
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7705 non-null   object
 1   1       7705 non-null   object
dtypes: object(2)
memory usage: 120.5+ KB

In [4]:
df1.columns

Int64Index([0, 1], dtype='int64')

In [5]:
df1.rename(columns={0:'chemical_name_1',1:'chemical_name_2'},inplace=True,errors='raise')
df1.head()

,chemical_name_1,chemical_name_2
0,C C ( C ) ( C ) c 1 [nH] c 2 c c c ( N C ( = O...,C C ( C ) ( C ) c 1 [nH] c 2 c c c ( N C ( = O...
1,C O C C Br . O = c 1 c ( O ) c n ( - c 2 c c c...,C O C C O c 1 c n ( - c 2 c c c c ( C ( F ) ( ...
2,C 1 C O C C N 1 . C c 1 c ( N C ( = O ) C Br )...,C c 1 c ( N C ( = O ) C N 2 C C O C C 2 ) c c ...
3,Br P ( Br ) Br . C S ( = O ) ( = O ) c 1 c c c...,C S ( = O ) ( = O ) c 1 c c c ( C Br ) c c 1 F
4,C c 1 s c ( N C c 2 c c c c c 2 ) c ( C # N ) ...,C c 1 s c ( N ( C c 2 c c c c c 2 ) C ( = S ) ...

# Monte Carlo Tree Search (MCTS) implementation.


# main function for the Monte Carlo Tree Search
def monte_carlo_tree_search(root):
	
	while resources_left(time, computational power):
		leaf = traverse(root)
		simulation_result = rollout(leaf)
		backpropagate(leaf, simulation_result)
		
	return best_child(root)

# function for node traversal
def traverse(node):
	while fully_expanded(node):
		node = best_uct(node)
		
	# in case no children are present / node is terminal
	return pick_unvisited(node.children) or node

# function for the result of the simulation
def rollout(node):
	while non_terminal(node):
		node = rollout_policy(node)
	return result(node)

# function for randomly selecting a child node
def rollout_policy(node):
	return pick_random(node.children)

# function for backpropagation
def backpropagate(node, result):
	if is_root(node) return
	node.stats = update_stats(node, result)
	backpropagate(node.parent)

# function for selecting the best child
# node with highest number of visits
def best_child(node):
	pick child with highest number of visits