In [1]:
import numpy as np
import pandas as pd
import rdkit as rd
from rdkit import Chem
from rdkit.Chem import Draw
from rdkit.Chem.Draw import IPythonConsole
from rdkit.Chem import Descriptors
from rdkit.Chem import AllChem
from rdkit import DataStructs
import sys

In [2]:
df = pd.read_csv(r"D:\projects dataset\chemical_reaction_1\ReactionSeq2Seq_Dataset\Jin_USPTO_1product_train.txt",sep=",")

In [3]:
df.head()

,# Original data downloaded from: https://github.com/wengong-jin/nips17-rexgen,Sept 2017,MIT License
0,[CH2:15]([CH:16]([CH3:17])[CH3:18])[Mg+:19].[C...,NaN,NaN
1,[CH3:14][NH2:15].[N+:1](=[O:2])([O-:3])[c:4]1[...,NaN,NaN
2,[CH2:1]([CH3:2])[n:3]1[cH:4][c:5]([C:22](=[O:2...,NaN,NaN
3,[Cl:1][C:2]([N:3]([CH3:4])[CH3:5])=[C:6]([CH3:...,NaN,NaN
4,[Cl:11][c:12]1[c:13]2[c:14]([n:15][c:16](-[c:1...,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395497 entries, 0 to 395496
Data columns (total 3 columns):
 #   Column                                                                         Non-Null Count   Dtype
---  ------                                                                         --------------   -----
 0   # Original data downloaded from: https://github.com/wengong-jin/nips17-rexgen  395497 non-null  object
 1    Sept 2017                                                                     0 non-null       float64
 2    MIT License                                                                   0 non-null       float64
dtypes: float64(2), object(1)
memory usage: 9.1+ MB

In [5]:
df.isnull().sum()

# Original data downloaded from: https://github.com/wengong-jin/nips17-rexgen         0
 Sept 2017                                                                       395497
 MIT License                                                                     395497
dtype: int64

In [6]:
df.columns

Index(['# Original data downloaded from: https://github.com/wengong-jin/nips17-rexgen',
       ' Sept 2017', ' MIT License'],
      dtype='object')

In [7]:
df.rename(columns={'# Original data downloaded from: https://github.com/wengong-jin/nips17-rexgen':'chemicals'},inplace=True,errors='raise')
df.head()

                                           chemicals   Sept 2017   MIT License
0  [CH2:15]([CH:16]([CH3:17])[CH3:18])[Mg+:19].[C...         NaN           NaN
1  [CH3:14][NH2:15].[N+:1](=[O:2])([O-:3])[c:4]1[...         NaN           NaN
2  [CH2:1]([CH3:2])[n:3]1[cH:4][c:5]([C:22](=[O:2...         NaN           NaN
3  [Cl:1][C:2]([N:3]([CH3:4])[CH3:5])=[C:6]([CH3:...         NaN           NaN
4  [Cl:11][c:12]1[c:13]2[c:14]([n:15][c:16](-[c:1...         NaN           NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395497 entries, 0 to 395496
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   chemicals     395497 non-null  object
 1    Sept 2017    0 non-null       float64
 2    MIT License  0 non-null       float64
dtypes: float64(2), object(1)
memory usage: 9.1+ MB

In [9]:
df.isnull().sum()

chemicals            0
 Sept 2017      395497
 MIT License    395497
dtype: int64

In [10]:
from rdkit.Chem import PandasTools

In [11]:
from stmol import showmol
import py3Dmol

for chemical_name in df:
    print(df['chemical_name'])

In [12]:
a = df['chemicals']
print(a)

0         [CH2:15]([CH:16]([CH3:17])[CH3:18])[Mg+:19].[C...
1         [CH3:14][NH2:15].[N+:1](=[O:2])([O-:3])[c:4]1[...
2         [CH2:1]([CH3:2])[n:3]1[cH:4][c:5]([C:22](=[O:2...
3         [Cl:1][C:2]([N:3]([CH3:4])[CH3:5])=[C:6]([CH3:...
4         [Cl:11][c:12]1[c:13]2[c:14]([n:15][c:16](-[c:1...
                                ...
395492    [CH2:1]([CH3:2])[c:3]1[n:4](-[c:28]2[cH:29][cH...
395493    [Cl:14][C:15]([C:16](=[O:17])[Cl:18])([Cl:19])...
395494    [CH2:30]([CH3:31])[n:32]1[c:33]([N:41]2[CH2:42...
395495    [CH3:38][OH:39].[F:29][c:30]1[c:31]([CH:32]=[O...
395496    [Br:1][c:2]1[cH:3][c:4]2[c:5](-[c:19]3[cH:20][...
Name: chemicals, Length: 395497, dtype: object

In [13]:
b = a[3]
print(b)
dot = '.'
count = b.count(dot)
print('total dots number are:', count)

[Cl:1][C:2]([N:3]([CH3:4])[CH3:5])=[C:6]([CH3:7])[CH3:8].[Cl:51][CH2:52][Cl:53].[N:9]1([C:13](=[O:14])[c:15]2[n:16][cH:17][c:18]([O:21][c:22]3[cH:23][c:24]([C:25](=[O:26])[OH:27])[cH:28][c:29]([O:31][CH:32]([CH2:33][O:34][CH3:35])[CH3:36])[cH:30]3)[n:19][cH:20]2)[CH2:10][CH2:11][CH2:12]1.[NH2:37][c:38]1[n:39][cH:40][c:41]([CH3:44])[n:42][cH:43]1.[cH:45]1[cH:46][cH:47][n:48][cH:49][cH:50]1>>[N:9]1([C:13](=[O:14])[c:15]2[n:16][cH:17][c:18]([O:21][c:22]3[cH:23][c:24]([C:25](=[O:27])[NH:37][c:38]4[n:39][cH:40][c:41]([CH3:44])[n:42][cH:43]4)[cH:28][c:29]([O:31][CH:32]([CH2:33][O:34][CH3:35])[CH3:36])[cH:30]3)[n:19][cH:20]2)[CH2:10][CH2:11][CH2:12]1 25-26;25-37;25-27
total dots number are: 4

In [14]:
b1 = a[5]
print(b1)
hash1 = '#'
count = b1.count(hash1)
print('total hashs number are:', count)

[CH3:24][C:25](=[O:26])[OH:27].[Cl:1][c:2]1[c:3]([CH3:21])[c:4]([CH3:20])[c:5]([CH:8]([c:9]2[cH:10][cH:11][c:12]([F:17])[c:13]([C:14]#[N:15])[cH:16]2)[C:18]#[N:19])[n:6][n:7]1.[ClH:22].[OH2:23]>>[Cl:1][c:2]1[c:3]([CH3:21])[c:4]([CH3:20])[c:5]([CH2:8][c:9]2[cH:10][cH:11][c:12]([F:17])[c:13]([C:14]#[N:15])[cH:16]2)[n:6][n:7]1 8-18
total hashs number are: 3

In [15]:
a.dtypes

dtype('O')

In [16]:
a = df['chemicals'].str.split('.')
print(a)

0         [[CH2:15]([CH:16]([CH3:17])[CH3:18])[Mg+:19], ...
1         [[CH3:14][NH2:15], [N+:1](=[O:2])([O-:3])[c:4]...
2         [[CH2:1]([CH3:2])[n:3]1[cH:4][c:5]([C:22](=[O:...
3         [[Cl:1][C:2]([N:3]([CH3:4])[CH3:5])=[C:6]([CH3...
4         [[Cl:11][c:12]1[c:13]2[c:14]([n:15][c:16](-[c:...
                                ...
395492    [[CH2:1]([CH3:2])[c:3]1[n:4](-[c:28]2[cH:29][c...
395493    [[Cl:14][C:15]([C:16](=[O:17])[Cl:18])([Cl:19]...
395494    [[CH2:30]([CH3:31])[n:32]1[c:33]([N:41]2[CH2:4...
395495    [[CH3:38][OH:39], [F:29][c:30]1[c:31]([CH:32]=...
395496    [[Br:1][c:2]1[cH:3][c:4]2[c:5](-[c:19]3[cH:20]...
Name: chemicals, Length: 395497, dtype: object

In [17]:
split_df = df['chemicals'].str.split('.',expand=True)
split_df

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,[CH2:15]([CH:16]([CH3:17])[CH3:18])[Mg+:19],[CH2:20]1[O:21][CH2:22][CH2:23][CH2:24]1,[Cl-:14],[OH:1][c:2]1[n:3][cH:4][c:5]([C:6](=[O:7])[N:8...,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,[CH3:14][NH2:15],[N+:1](=[O:2])([O-:3])[c:4]1[cH:5][c:6]([C:7](...,[OH2:16]>>[N+:1](=[O:2])([O-:3])[c:4]1[cH:5][c...,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[CH2:1]([CH3:2])[n:3]1[cH:4][c:5]([C:22](=[O:2...,[CH:25](=[O:26])[OH:27]>>[CH2:1]([CH3:2])[n:3]...,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,[Cl:1][C:2]([N:3]([CH3:4])[CH3:5])=[C:6]([CH3:...,[Cl:51][CH2:52][Cl:53],[N:9]1([C:13](=[O:14])[c:15]2[n:16][cH:17][c:1...,[NH2:37][c:38]1[n:39][cH:40][c:41]([CH3:44])[n...,[cH:45]1[cH:46][cH:47][n:48][cH:49][cH:50]1>>[...,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,[Cl:11][c:12]1[c:13]2[c:14]([n:15][c:16](-[c:1...,[Cl:1][c:2]1[cH:3][c:4]([CH2:5][NH2:6])[cH:7][...,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395492,[CH2:1]([CH3:2])[c:3]1[n:4](-[c:28]2[cH:29][cH...,[CH3:86][CH2:87][O:88][C:89](=[O:90])[CH3:91],[O:66]=[C:67]([O:68][CH:69]([CH3:70])[CH3:71])...,[O:80]1[CH2:81][CH2:82][CH2:83][CH2:84]1,[OH2:85],[OH:35][CH:36]1[CH2:37][CH2:38][CH:39]([C:42](...,[c:47]1([P:48]([c:49]2[cH:50][cH:51][cH:52][cH...,None,None,None,...,None,None,None,None,None,None,None,None,None,None
395493,[Cl:14][C:15]([C:16](=[O:17])[Cl:18])([Cl:19])...,[NH2:1][CH:2]([C:3]([CH3:4])([OH:5])[CH3:6])[C...,[cH:21]1[cH:22][cH:23][n:24][cH:25][cH:26]1>>[...,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
395494,[CH2:30]([CH3:31])[n:32]1[c:33]([N:41]2[CH2:42...,[F:1][c:2]1[cH:3][cH:4][c:5]([CH2:6][NH:7][C:8...,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
395495,[CH3:38][OH:39],[F:29][c:30]1[c:31]([CH:32]=[O:33])[cH:34][cH:...,[NH2:1][c:2]1[c:3]([CH2:4][NH:5][C:6]([CH:7]([...,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
395496,[Br:1][c:2]1[cH:3][c:4]2[c:5](-[c:19]3[cH:20][...,[CH2:26]1[CH2:27][O:28][CH2:29][CH2:30][NH:31]...,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [18]:
split_df.isnull().sum()

0          0
1          0
2      62603
3     128894
4     198290
5     261603
6     316166
7     352283
8     372550
9     382788
10    388083
11    391651
12    393520
13    394456
14    394899
15    395125
16    395240
17    395298
18    395328
19    395345
20    395351
21    395444
22    395483
23    395491
24    395494
25    395495
26    395496
27    395496
28    395496
dtype: int64

In [19]:
split_df.columns.values.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [20]:
split_df.drop([7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28],axis=1,inplace=True)

In [21]:
split_df

,0,1,2,3,4,5,6
0,[CH2:15]([CH:16]([CH3:17])[CH3:18])[Mg+:19],[CH2:20]1[O:21][CH2:22][CH2:23][CH2:24]1,[Cl-:14],[OH:1][c:2]1[n:3][cH:4][c:5]([C:6](=[O:7])[N:8...,None,None,None
1,[CH3:14][NH2:15],[N+:1](=[O:2])([O-:3])[c:4]1[cH:5][c:6]([C:7](...,[OH2:16]>>[N+:1](=[O:2])([O-:3])[c:4]1[cH:5][c...,None,None,None,None
2,[CH2:1]([CH3:2])[n:3]1[cH:4][c:5]([C:22](=[O:2...,[CH:25](=[O:26])[OH:27]>>[CH2:1]([CH3:2])[n:3]...,None,None,None,None,None
3,[Cl:1][C:2]([N:3]([CH3:4])[CH3:5])=[C:6]([CH3:...,[Cl:51][CH2:52][Cl:53],[N:9]1([C:13](=[O:14])[c:15]2[n:16][cH:17][c:1...,[NH2:37][c:38]1[n:39][cH:40][c:41]([CH3:44])[n...,[cH:45]1[cH:46][cH:47][n:48][cH:49][cH:50]1>>[...,None,None
4,[Cl:11][c:12]1[c:13]2[c:14]([n:15][c:16](-[c:1...,[Cl:1][c:2]1[cH:3][c:4]([CH2:5][NH2:6])[cH:7][...,None,None,None,None,None
...,...,...,...,...,...,...,...
395492,[CH2:1]([CH3:2])[c:3]1[n:4](-[c:28]2[cH:29][cH...,[CH3:86][CH2:87][O:88][C:89](=[O:90])[CH3:91],[O:66]=[C:67]([O:68][CH:69]([CH3:70])[CH3:71])...,[O:80]1[CH2:81][CH2:82][CH2:83][CH2:84]1,[OH2:85],[OH:35][CH:36]1[CH2:37][CH2:38][CH:39]([C:42](...,[c:47]1([P:48]([c:49]2[cH:50][cH:51][cH:52][cH...
395493,[Cl:14][C:15]([C:16](=[O:17])[Cl:18])([Cl:19])...,[NH2:1][CH:2]([C:3]([CH3:4])([OH:5])[CH3:6])[C...,[cH:21]1[cH:22][cH:23][n:24][cH:25][cH:26]1>>[...,None,None,None,None
395494,[CH2:30]([CH3:31])[n:32]1[c:33]([N:41]2[CH2:42...,[F:1][c:2]1[cH:3][cH:4][c:5]([CH2:6][NH:7][C:8...,None,None,None,None,None
395495,[CH3:38][OH:39],[F:29][c:30]1[c:31]([CH:32]=[O:33])[cH:34][cH:...,[NH2:1][c:2]1[c:3]([CH2:4][NH:5][C:6]([CH:7]([...,None,None,None,None
395496,[Br:1][c:2]1[cH:3][c:4]2[c:5](-[c:19]3[cH:20][...,[CH2:26]1[CH2:27][O:28][CH2:29][CH2:30][NH:31]...,None,None,None,None,None

In [22]:
a1 = split_df[1]
#print(a1)
b1 = a1[1]
print(b1)

[N+:1](=[O:2])([O-:3])[c:4]1[cH:5][c:6]([C:7](=[O:8])[OH:9])[cH:10][cH:11][c:12]1[Cl:13]

In [23]:
a2 = split_df[2]
b2 = a2[1]
print(b2)

[OH2:16]>>[N+:1](=[O:2])([O-:3])[c:4]1[cH:5][c:6]([C:7](=[O:8])[OH:9])[cH:10][cH:11][c:12]1[NH:15][CH3:14] 12-13;12-15

In [24]:
a3 = split_df[3]
b3 = a3[3]
print(b3)

[NH2:37][c:38]1[n:39][cH:40][c:41]([CH3:44])[n:42][cH:43]1

In [25]:
a4 = split_df[4]
b4 = a4[3]
print(b4)

[cH:45]1[cH:46][cH:47][n:48][cH:49][cH:50]1>>[N:9]1([C:13](=[O:14])[c:15]2[n:16][cH:17][c:18]([O:21][c:22]3[cH:23][c:24]([C:25](=[O:27])[NH:37][c:38]4[n:39][cH:40][c:41]([CH3:44])[n:42][cH:43]4)[cH:28][c:29]([O:31][CH:32]([CH2:33][O:34][CH3:35])[CH3:36])[cH:30]3)[n:19][cH:20]2)[CH2:10][CH2:11][CH2:12]1 25-26;25-37;25-27

In [26]:
a5 = split_df[5]
b5 = a5[395492]
print(b5)

[OH:35][CH:36]1[CH2:37][CH2:38][CH:39]([C:42](=[O:43])[O:44][CH2:45][CH3:46])[CH2:40][CH2:41]1

In [27]:
a6 = split_df[6]
b6 = a6[395492]
print(b6)

[c:47]1([P:48]([c:49]2[cH:50][cH:51][cH:52][cH:53][cH:54]2)[c:55]2[cH:56][cH:57][cH:58][cH:59][cH:60]2)[cH:61][cH:62][cH:63][cH:64][cH:65]1>>[CH2:1]([CH3:2])[c:3]1[n:4](-[c:28]2[cH:29][cH:30][c:31]([O:34][CH:36]3[CH2:37][CH2:38][CH:39]([C:42](=[O:43])[O:44][CH2:45][CH3:46])[CH2:40][CH2:41]3)[cH:32][cH:33]2)[c:5](=[O:27])[c:6]([CH2:12][c:13]2[cH:14][cH:15][c:16](-[c:19]3[c:20]([C:25]#[N:26])[cH:21][cH:22][cH:23][cH:24]3)[cH:17][cH:18]2)[c:7]([CH2:9][CH2:10][CH3:11])[n:8]1 35-36;34-36

In [28]:
split_df.head()

,0,1,2,3,4,5,6
0,[CH2:15]([CH:16]([CH3:17])[CH3:18])[Mg+:19],[CH2:20]1[O:21][CH2:22][CH2:23][CH2:24]1,[Cl-:14],[OH:1][c:2]1[n:3][cH:4][c:5]([C:6](=[O:7])[N:8...,None,None,None
1,[CH3:14][NH2:15],[N+:1](=[O:2])([O-:3])[c:4]1[cH:5][c:6]([C:7](...,[OH2:16]>>[N+:1](=[O:2])([O-:3])[c:4]1[cH:5][c...,None,None,None,None
2,[CH2:1]([CH3:2])[n:3]1[cH:4][c:5]([C:22](=[O:2...,[CH:25](=[O:26])[OH:27]>>[CH2:1]([CH3:2])[n:3]...,None,None,None,None,None
3,[Cl:1][C:2]([N:3]([CH3:4])[CH3:5])=[C:6]([CH3:...,[Cl:51][CH2:52][Cl:53],[N:9]1([C:13](=[O:14])[c:15]2[n:16][cH:17][c:1...,[NH2:37][c:38]1[n:39][cH:40][c:41]([CH3:44])[n...,[cH:45]1[cH:46][cH:47][n:48][cH:49][cH:50]1>>[...,None,None
4,[Cl:11][c:12]1[c:13]2[c:14]([n:15][c:16](-[c:1...,[Cl:1][c:2]1[cH:3][c:4]([CH2:5][NH2:6])[cH:7][...,None,None,None,None,None

In [29]:
split_df.isnull().sum()

0         0
1         0
2     62603
3    128894
4    198290
5    261603
6    316166
dtype: int64

In [30]:
split_df.drop([6],axis=1,inplace=True)

In [31]:
split_df.isnull().sum()

0         0
1         0
2     62603
3    128894
4    198290
5    261603
dtype: int64

In [32]:
split_df.shape

(395497, 6)

In [33]:
split_df.drop([4,5],axis=1,inplace=True)

In [34]:
split_df.head(5)

,0,1,2,3
0,[CH2:15]([CH:16]([CH3:17])[CH3:18])[Mg+:19],[CH2:20]1[O:21][CH2:22][CH2:23][CH2:24]1,[Cl-:14],[OH:1][c:2]1[n:3][cH:4][c:5]([C:6](=[O:7])[N:8...
1,[CH3:14][NH2:15],[N+:1](=[O:2])([O-:3])[c:4]1[cH:5][c:6]([C:7](...,[OH2:16]>>[N+:1](=[O:2])([O-:3])[c:4]1[cH:5][c...,None
2,[CH2:1]([CH3:2])[n:3]1[cH:4][c:5]([C:22](=[O:2...,[CH:25](=[O:26])[OH:27]>>[CH2:1]([CH3:2])[n:3]...,None,None
3,[Cl:1][C:2]([N:3]([CH3:4])[CH3:5])=[C:6]([CH3:...,[Cl:51][CH2:52][Cl:53],[N:9]1([C:13](=[O:14])[c:15]2[n:16][cH:17][c:1...,[NH2:37][c:38]1[n:39][cH:40][c:41]([CH3:44])[n...
4,[Cl:11][c:12]1[c:13]2[c:14]([n:15][c:16](-[c:1...,[Cl:1][c:2]1[cH:3][c:4]([CH2:5][NH2:6])[cH:7][...,None,None

In [35]:
split_df.rename(columns={0:'chem_1',
                        1:'chem_2',
                        2:'chem_3',
                        3:'chem_4'},
               inplace=True, errors='raise')

In [36]:
split_df.head()

,chem_1,chem_2,chem_3,chem_4
0,[CH2:15]([CH:16]([CH3:17])[CH3:18])[Mg+:19],[CH2:20]1[O:21][CH2:22][CH2:23][CH2:24]1,[Cl-:14],[OH:1][c:2]1[n:3][cH:4][c:5]([C:6](=[O:7])[N:8...
1,[CH3:14][NH2:15],[N+:1](=[O:2])([O-:3])[c:4]1[cH:5][c:6]([C:7](...,[OH2:16]>>[N+:1](=[O:2])([O-:3])[c:4]1[cH:5][c...,None
2,[CH2:1]([CH3:2])[n:3]1[cH:4][c:5]([C:22](=[O:2...,[CH:25](=[O:26])[OH:27]>>[CH2:1]([CH3:2])[n:3]...,None,None
3,[Cl:1][C:2]([N:3]([CH3:4])[CH3:5])=[C:6]([CH3:...,[Cl:51][CH2:52][Cl:53],[N:9]1([C:13](=[O:14])[c:15]2[n:16][cH:17][c:1...,[NH2:37][c:38]1[n:39][cH:40][c:41]([CH3:44])[n...
4,[Cl:11][c:12]1[c:13]2[c:14]([n:15][c:16](-[c:1...,[Cl:1][c:2]1[cH:3][c:4]([CH2:5][NH2:6])[cH:7][...,None,None

In [37]:
split_df.isnull().sum()

chem_1         0
chem_2         0
chem_3     62603
chem_4    128894
dtype: int64

In [52]:
split_df.columns = split_df.columns.str.replace('[,.<<>>/:;|\@#$%^&*+-=]'," ")

C:\Users\Acer\AppData\Local\Temp\ipykernel_13848\2526477533.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  split_df.columns = split_df.columns.str.replace('[,.<<>>/:;|\@#$%^&*+-=]'," ")

In [53]:
split_df.columns

Index(['Chem ', 'Chem ', 'Chem ', 'Chem '], dtype='object')

In [54]:
split_df.columns=["Chem"+str(i) for i in range(1, 5)]

In [55]:
split_df.head()

,Chem1,Chem2,Chem3,Chem4
0,[CH2:15]([CH:16]([CH3:17])[CH3:18])[Mg+:19],[CH2:20]1[O:21][CH2:22][CH2:23][CH2:24]1,[Cl-:14],[OH:1][c:2]1[n:3][cH:4][c:5]([C:6](=[O:7])[N:8...
1,[CH3:14][NH2:15],[N+:1](=[O:2])([O-:3])[c:4]1[cH:5][c:6]([C:7](...,[OH2:16]>>[N+:1](=[O:2])([O-:3])[c:4]1[cH:5][c...,None
2,[CH2:1]([CH3:2])[n:3]1[cH:4][c:5]([C:22](=[O:2...,[CH:25](=[O:26])[OH:27]>>[CH2:1]([CH3:2])[n:3]...,None,None
3,[Cl:1][C:2]([N:3]([CH3:4])[CH3:5])=[C:6]([CH3:...,[Cl:51][CH2:52][Cl:53],[N:9]1([C:13](=[O:14])[c:15]2[n:16][cH:17][c:1...,[NH2:37][c:38]1[n:39][cH:40][c:41]([CH3:44])[n...
4,[Cl:11][c:12]1[c:13]2[c:14]([n:15][c:16](-[c:1...,[Cl:1][c:2]1[cH:3][c:4]([CH2:5][NH2:6])[cH:7][...,None,None

In [56]:
a6 = split_df['Chem4']
b6 = a6[0]
print(b6)

[OH:1][c:2]1[n:3][cH:4][c:5]([C:6](=[O:7])[N:8]([O:9][CH3:10])[CH3:11])[cH:12][cH:13]1>>[OH:1][c:2]1[n:3][cH:4][c:5]([C:6](=[O:7])[CH2:15][CH:16]([CH3:17])[CH3:18])[cH:12][cH:13]1 15-19;6-15;6-8